html {
  font-size: 22px; 
}
    
body {
  background-color: #66023c;
  color: rgba(15, 83, 186, 0.801);
}

a{
  color: rgba(255, 217, 0, 0.644);
}

a:visited {
  color: rgba(255, 0, 0, 0.507);
}

a:hover, a:active {
  color: rgba(245, 245, 245, 0.493);
}

table, tr, th, td, caption {
  border: 1px solid #eee;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.3rem;
}